.App {
  text-align: center;
  background: black;
}

main{
  min-width: 100vw;

}

body{
  max-width: 100;
  background: #000;
  margin: 0 auto;
  min-height: 80vh;
}


.space-between{
  justify-content: space-between;
}
